<?xml version="1.0"?>
<configuration>
	<connectionStrings configSource="Config\connectionstrings.config" />
	<appSettings configSource="Config\appSettings.config" />
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service behaviorConfiguration="ServiceBehaviour" name="vote_ly_api.VotingApiService">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="vote_ly_api.IVotingApiService" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
