<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="voteLyEntities" connectionString="metadata=res://*/DataAccess.voteLy.csdl|res://*/DataAccess.voteLy.ssdl|res://*/DataAccess.voteLy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=voteLy;persist security info=True;user id=voteLy;password=voteLy123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>


